---
import Layout from "@layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <main
    class="flex flex-col justify-center items-center grow font-kiwi text-2xl md:text-7xl gap-4 md:gap-12"
  >
    <div>404 not found</div>

    <button
      class="text-sm"
      onclick="window.location.href='https://www.reina-ryu-f.xyz'"
      >onClick</button
    >
  </main>
</Layout>
