---
import { ButtonComponent } from "../components/Button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col">
    <ButtonComponent />
    <ButtonComponent />
  </main>
</Layout>
